<div class="container-fluid mt-5 about-style" id="serviceid">
        <div class="row">
            <h1 class="text-center main-heading">Our Services</h1>
            <p class="text-center sub-heading">grow your tech knowledge with us</p>
            <div class="col-md-10 col-md-12 mx-auto">
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services java">
                                <div class="icon"></div>
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                                    <h4>Java</h4>
                                    <p>Start here to learn fundamental Java concepts and see what you can do with this versatile language.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                        <div class="box">
                            <div class="our-services database">
                                <div class="icon"></div>
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                                    <h4>Database</h4>
                                    <p>Start here to learn fundamental Database concepts and see what you can do with this versatile language..</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                        <div class="box">
                            <div class="our-services Python">
                                <div class="icon"></div>
                                    <img src="https://i.imgur.com/KMbnpFF.png" alt="">
                                    <h4>Python</h4>
                                    <p>Start here to learn fundamental python concepts and see what you can do with this versatile language.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                        <div class="box">
                            <div class="our-services Nodejs">
                                <div class="icon"></div>
                                    <img src="https://i.imgur.com/AgyneKA.png" alt="">
                                    <h4>Nodejs</h4>
                                    <p>Start here to learn fundamental NodeJs concepts and see what you can do with this versatile language.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                        <div class="box">
                            <div class="our-services html">
                                <div class="icon"></div>
                                    <img src="https://i.imgur.com/vdH9LKi.png" alt="">
                                    <h4>HTML</h4>
                                    <p>Start here to learn fundamental html concepts and see what you can do with this versatile language.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                        <div class="box">
                            <div class="our-services css">
                                <div class="icon"></div>
                                    <img src="https://i.imgur.com/v6OnUqu.png" alt="">
                                    <h4>css</h4>
                                    <p>Start here to learn fundamental css concepts and see what you can do with this versatile language.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    